/*
PALETAS VIEJAS

#eeb519
#eb7222





$colorUno:#9a348eff;
$colorDos:#7fd1b9ff;
$colorSecundario:rgb(245, 147, 221);
$colorTres:#ffd23fff;
$colorCuatro: #e87461ff;
*/
* {
  margin: 0;
  padding: 0; }

/*---BODY---*/
body {
  background-repeat: no-repeat;
  background-color: #53013f; }

.estiloBody {
  background-repeat: no-repeat;
  background-color: #53013f; }

/*GRID DE LAYOUT GENERAL*/
.layoutGeneral {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

/*---HEADER---*/
header h1 {
  color: #53013f;
  font-family: 'New Rocker', cursive;
  font-size: 10vw;
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  text-decoration: none; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header nav li {
  list-style: none;
  margin: 10px;
  font-family: 'Montserrat', sans-serif; }
  header nav li a {
    text-decoration: none;
    color: #eb2424; }

header a {
  text-decoration: none; }

.titulo {
  font-size: 10vw; }

.estiloBody {
  background-repeat: no-repeat;
  background-color: #53013f; }

/*FLEXBOX MENU */
.navegacionMenu {
  width: 100%;
  background-color: #ff934a;
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  display: flex;
  justify-content: space-around; }

/*---MAIN---*/
main {
  color: #5ff1e5;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  margin: 2vw; }
  main h2 {
    font-family: 'Montserrat', sans-serif;
    color: #f59393;
    margin: 2vw;
    text-decoration: underline;
    text-align: center; }

/*GRILLAS, ANIMACION Y FLEX EN GALERIA MULTIMEDIA*/
/*grilla galeria completa*/
.galeriaGrilla {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "img img " "shows videoc"; }

#videoclips {
  grid-area: videoc; }

.galeriaVideo {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 300px;
  margin: 2px; }

#showsvivo {
  grid-area: shows; }

.galeriaImg {
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 450px;
  margin: 2px; }

#imagenes {
  grid-area: img; }

.animacion :hover {
  transition-duration: 2s;
  transform: scale(1.2); }

/*GRILLA FOTOS*/
.grillaFotos {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 300px 300px;
  grid-template-areas: "img1 img2" "img3 img4";
  row-gap: 20px;
  align-items: center; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img2; }

.img4 {
  grid-area: img4; }

.fotos {
  display: flex;
  justify-content: center; }

/*GRILLA ALBUMES*/
.playlist {
  display: flex;
  justify-content: space-around; }

.premios {
  display: flex;
  justify-content: space-around; }

/*formulario*/
.formu {
  margin: 10px;
  padding: 10px; }

.contactoflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.imgcont {
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 400px; }

/*---FOOTER---*/
footer p a {
  text-decoration: none;
  color: #eb2424; }

.encabezado, .pie {
  background-color: #ff934a;
  border: 2px solid #53013f; }

.pie {
  text-align: right;
  color: #53013f;
  font-family: 'Montserrat', sans-serif;
  padding: 1vw; }

.final {
  display: flex;
  justify-content: space-between; }

.ultimo {
  text-align: left; }

/*media queries*/
@media only screen and (max-width: 768px) {
  .galeriaImg {
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 200px;
    margin: 2px; }
  .grillaFotos {
    display: grid;
    grid-template-columns: 98%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "img1" "img2" "img3"  "img4"; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img2; }
  .img4 {
    grid-area: img4; }
  .galeriaGrilla {
    display: grid;
    grid-template-columns: 98%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img" "shows"  "videoc"; }
  #videoclips {
    grid-area: videoc; }
  #showsvivo {
    grid-area: shows; }
  #imagenes {
    grid-area: img; }
  .playlist {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "alb1" "alb2" "alb3";
    row-gap: 20px; }
  #alb1 {
    grid-area: alb1; }
  #alb2 {
    grid-area: alb2; }
  #alb3 {
    grid-area: alb3; } }
