$colorUno:#53013f;
$colorDos:#5ff1e5;
$colorSecundario:rgb(245, 147, 147);
$colorTres:rgb(2, 133, 133);
$colorCuatro: #eb7222;


/*
#eeb519
#eb7222
      {
        "name": "New Swatch",
        $color: #650043;
      },
      {
        "name": "New Swatch",
        $color: #00685F
      },
      {
        "name": "New Swatch",
        "color": "E6DA38"
      },
      {
        "name": "New Swatch",
        "color": "770098"
      },
      {
        "name": "New Swatch",
        $color: #00384A

        {
            {
                "name": "New Swatch",
                "color": "650043"
              },
              {
                "name": "New Swatch",
                "color": "00685F"
              },
              {
                "name": "New Swatch",
                "color": "E6DA38"
              },
              {
                "name": "New Swatch",
                "color": "770098"
              },
              {
                "name": "New Swatch",
                $color: #00384A"
                "paletteName": "New Palette",
                "swatches": [
                  {
                    "name": "New Swatch",
                    "color": "490042"
                  },
                  {
                    "name": "New Swatch",
                    "color": "002630"
                  },
                  {
                    "name": "New Swatch",
                    "color": "1C5B76"
                  },
                  {
                    "name": "New Swatch",
                    $color: #DD9900"
                  },
                  {
                    "name": "New Swatch",
                    $color: #EA0070
                    rgb(245, 147, 221)







$colorUno:#9a348eff;
$colorDos:#7fd1b9ff;
$colorSecundario:rgb(245, 147, 221);
$colorTres:#ffd23fff;
$colorCuatro: #e87461ff;
*/