$colorUno:#53013f;
$colorDos:#5ff1e5;
$colorSecundario:rgb(245, 147, 147);
$colorTres:rgb(235, 36, 36);
$colorCuatro: #ff934a;


/*
PALETAS VIEJAS

#eeb519
#eb7222





$colorUno:#9a348eff;
$colorDos:#7fd1b9ff;
$colorSecundario:rgb(245, 147, 221);
$colorTres:#ffd23fff;
$colorCuatro: #e87461ff;
*/